$blue: #89a4cb !default;
$indigo: #8c73b5 !default;
$purple: #826fa6 !default;
$pink: #c57ca1 !default;
$red: #d3838b !default;
$orange: #fec697 !default;
$yellow: #fddc7a !default;
$green: #56856f !default;
$teal: #70c5ac !default;
$cyan: #a3dde9 !default;

$border-radius-sm: 0;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-xl: 0;
$border-radius-xxl: 0;
$border-radius-pill: 0;

@import "../node_modules/bootstrap/scss/bootstrap";
